.todo-list{
  margin: 2rem 4rem;
  padding: 1rem 2rem;
  margin-inline: auto;

  min-width: 30rem;
  max-width: 60rem;

  border: 3px solid #222;
}

.todo-list input {
  color: #DDD;
  background-color: #222;
  margin: 2rem 0;
  border-style: none;
  font-size: 2rem;
  padding: 0.5rem;
  border-bottom: 2px solid gray;
  width: 100%;

}

.todo-list input:hover{
  border-bottom: 1px solid #2594b6;
}

.todo-list input:focus{
  outline: none;
  border-bottom: 3px solid #5cd5fa;
}

.todo-list input[type='text']:valid{
  outline: none;
  border-bottom: 3px solid rgb(9, 254, 9);
}

.todo-list input:disabled{
  color: #333;
  display: block;
  position: relative;
}

